<!DOCTYPE html>
<html lang="en" ng-app="mapViewer">
<head>
    <meta charset="UTF-8">
    <title>MapViwer</title>
    <link rel="stylesheet" href="/bower_components/ztree_v3/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="/bower_components/ol4/ol.css">
    <link rel="stylesheet" href="/bower_components/angular-openlayers/dist/angular-openlayers.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/ztree_v3/js/jquery.ztree.all.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/ol4/ol-debug.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-openlayers/dist/angular-openlayers.js"></script>
    <script src="/lib/ImageArcGISRest.js"></script>
    <script src="/lib/LayerControl.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/service.js"></script>
    <script src="/js/directive.js"></script>
    <script src="/js/app.js"></script>
</head>
<body ng-controller="AppController">
<div id="map" class="map">
    <div id="popup" class="ol-popup">
        <div id="popup-content"></div>
        <div id="swiper-left" class="popup-content-swiper popup-content-swiper-left" ng-click="swipe(-1)"></div>
        <div id="swiper-right" class="popup-content-swiper popup-content-swiper-right" ng-click="swipe(1)"></div>
        <a href="#" id="popup-closer" class="ol-popup-closer" ng-click="close()"></a>
    </div>
</div>
<div class="ol-control-layercontrol">
    <!--<div ng-scrollbars ng-scrollbars-config="vm.config">-->
    <ul class="ztree" id="tree" z-nodes="vm.list" setting="vm.setting" z-tree></ul>
    <!--</div>-->
</div>
<input id="vm.id" type="text" value="<%= ID%>" style="visibility:hidden">

<script type="text/ng-template" id="popup-content.html">
    <h2>{{vm.popup.layerName}}</h2>
    <ul>
        <li ng-repeat='(key, value) in vm.popup.attribute'>
            <span class='popup-key'>{{key}}</span>
            <span class='popup-value'>{{value}}</span>
        </li>
    </ul>
</script>
</body>
</html>