* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

ul, li {
    list-style: none;
}

#map {
    position: fixed;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}

#map .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}

#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}

.ol-control-layercontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    min-width: 120px;
    background-color: rgba(0, 60, 136, .3);
    border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
    /*overflow-y: hidden;*/
}

.ol-control-layercontrol:hover {
    background-color: rgba(0, 60, 136, .5);
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*.ol-layer-item {*/
/*display: flex;*/
/*align-items: center;*/
/*color: white;*/
/*}*/

/*.ol-layer-item > span {*/
/*margin-left: 10px;*/
/*}*/

.ol-popup {
    position: absolute;
    color: white;
    background-color: #6699cc;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: #6699cc;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    color: white;
    content: "✖";
}

#popup-content > ul > li {
    display: flex;

}

#popup-content > ul > li > span {
    display: inline-block;
}

#popup-content > ul > li > span.popup-key {
    width: 100px;
}

#popup-content > ul > li > span.popup-value {
    overflow: hidden;
}