* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

ul, li {
    list-style: none;
}

#map {
    position: fixed;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
}

#map .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
}

#map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
}

#map .ol-touch .ol-zoomslider {
    top: 2.75em;
}

#map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

#map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
#map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
}

.ol-control-layercontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    min-width: 120px;
    background-color: rgba(0, 60, 136, .3);
    border-radius: 5px;
    max-height: 400px;
    overflow-y: scroll;
    /*overflow-y: hidden;*/
}

.ol-control-layercontrol:hover {
    background-color: rgba(0, 60, 136, .5);
}

/*.ol-layer-item {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*color: white;*/
/*}*/

/*.ol-layer-item > span {*/
    /*margin-left: 10px;*/
/*}*/